button {
  width: 3em;
  height: 3em;
  font-size: 1.5em;
  border: none;
  margin: 0.3em;
}

button:hover {
  cursor: pointer;
}

.wrapper {
  background-color: black;
  border-radius: 1em;
  padding: 1em;
}

.white {
  border-radius: 50%;
}

.orange {
  background-color: #ff9500;
  color: white;
  border-radius: 50%;
}

.gray {
  background-color: #505050;
  color: white;
  border-radius: 50%;
}

.gray2 {
  background-color: #505050;
  color: white;
  width: 10rem;
  border-radius: 30rem;
  padding-right: 6rem;
}

.result {
  color: white;
  display: flex;
  justify-content: flex-end;
  margin-right: 0.9em;
  font-size: 3em;
}
